Repository tcsong456/MLops: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

Path conditions:
  pipelines/diabetes_batchscore_ci.yml: any of: diabetes/scoring/parallel_batch_score.py, ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py, ml_service/pipeline/run_parallel_batchscore_pipeline.py
  pipelines/diabetes_ci.yml: any of: diabetes, ml_service/pipeline/diabetes_build_train_pipeline.py

batchscore 23
  pipelines/diabetes_batchscore_ci.yml
Due: none

batchscore 24
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 25
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
  ml_service/utils/environment_variables.py
  pipelines/diabetes_batchscore_ci.yml
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 26
  pipelines/diabetes_batchscore_ci.yml
Due: none

diabetes ci 1
  pipelines/diabetes_ci.yml
Due: none

diabetes ci 2
  pipelines/diabetes_ci.yml
Due: none

try docker 1
  Dockerfile
  diabetes/ci_dependencies.yml
  pipelines/diabetes_ci.yml
Due: pipelines/diabetes_ci.yml

try docker 2
  pipelines/diabetes_ci.yml
Due: none

try docker 3
  diabetes/ci_dependencies.yml
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  ml_service/utils/environment_variables.py
  pipelines/diabetes_ci.yml
Due: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

batchscore 30
  diabetes/ci_dependencies.yml
  pipelines/diabetes_aci_cd.yml
  pipelines/diabetes_batchscore_ci.yml
Due: pipelines/diabetes_ci.yml

batchscore 31
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 33
  diabetes/conda_dependencies_scorecopy.yml
  diabetes/conda_dependencies_scoring.yml
Due: pipelines/diabetes_ci.yml

batchscore 33
  diabetes/conda_dependencies_scoring.yml
Due: pipelines/diabetes_ci.yml

batchscore 34
  diabetes/scoring/parallel_batch_score.py
Due: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

batchscore 35
  diabetes/scoring/parallel_batch_score.py
Due: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

batchscore 36
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 37
  diabetes/scoring/parallel_batch_score.py
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

batchscore 39
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 40
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 41
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
  pipelines/diabetes_variables_template.yml
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 42
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 43
  pipelines/diabetes_variables_template.yml
Due: none

batchscore 44
  pipelines/diabetes_variables_template.yml
Due: none

batchscore 45
  pipelines/diabetes_batchscore_ci.yml
Due: none

batchscore 46
  diabetes/scoring/parallel_batch_score.py
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml, pipelines/diabetes_ci.yml

batchscore 47
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 48
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 49
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 50
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  ml_service/utils/environment_variables.py
  pipelines/diabetes_variables_template.yml
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 51
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 53
  pipelines/diabetes_variables_template.yml
Due: none

batchscore 54
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  pipelines/diabetes_variables_template.yml
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 55
  ml_service/pipeline/diabetes_parallel_batchscore_pipeline.py
  pipelines/diabetes_variables_template.yml
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 56
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 57
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 58
  pipelines/diabetes_aci_cd.yml
  pipelines/diabetes_batchscore_ci.yml
  pipelines/diabetes_ci.yml
Due: none

batchscore 60
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml

batchscore 61
  ml_service/pipeline/run_parallel_batchscore_pipeline.py
Due: pipelines/diabetes_batchscore_ci.yml
